<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/site.css}" rel="stylesheet" />
    <div th:insert="blocks/header" ></div>
</head>
<body>
<form method="post" th:each="el: ${copyright}" th:object="${copyright}">
    <h1>Редактирование свидетельства</h1>
    <br>
    <div><input type="text" name="certificateNumber" placeholder="Название организации" th:value="${el.certificateNumber}" ></div>
    <div th:if="${#fields.hasErrors('certificateNumber')}" th:errors="*{certificateNumber}"></div>
    <div><input type="text" name="nameSubject" placeholder="Выделенные деньги" th:value="${el.nameSubject}"></div>
    <div th:if="${#fields.hasErrors('nameSubject')}" th:errors="*{nameSubject}"></div>
    <p>Сотрудник:</p>
    <div><select name="surname">
        <div th:each="element : ${employees}">
            <option th:text="${element.surname}"></option>
        </div>
    </select></div>
    <p>Название организации:</p>
    <div><select name="nameOrganization">
        <div th:each="element : ${orgproj}">
            <option th:text="${element.nameOrganization}"></option>
        </div>
    </select></div>
    <button type="submit">Изменить</button>
</form>
</body>
</html>