<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <div th:insert="blocks/header" ></div>
</head>
<body>
<form method="post" th:each="el: ${orgproject}" th:object="${orgproject}">
    <h1>Редактирование проекта</h1>
    <br/>
    <div><input type="text" name="nameOrganization" placeholder="Название организации" th:value="${el.nameOrganization}" ></div>
    <div th:if="${#fields.hasErrors('nameOrganization')}" th:errors="*{nameOrganization}"></div>
    <div><input required type="number" name="salaryProject" placeholder="Выделенные деньги" th:value="${el.salaryProject}"></div>
    <div th:if="${#fields.hasErrors('salaryProject')}" th:errors="*{salaryProject}"></div>
    <div><input type="text" name="regionalLocation" placeholder="Регион" th:value="${el.regionalLocation}" ></div>
    <div th:if="${#fields.hasErrors('regionalLocation')}" th:errors="*{regionalLocation}"></div>
    <div><textarea name="projectDescription" placeholder="Описание проекта" th:text="${el.projectDescription}"></textarea></div>
    <div th:if="${#fields.hasErrors('projectDescription')}" th:errors="*{projectDescription}"></div>
    <p>Тип проекта:</p>
    <div><select name="typeProject">
        <div th:each="element : ${projecttypes}">
            <option th:text="${element.typeProject}"></option>
        </div>
    </select></div>
    <p>Статус проекта:</p>
    <div><select name="nameProjectStatus">
        <div th:each="element : ${projectstatus}">
            <option th:text="${element.nameProjectStatus}"></option>
        </div>
    </select></div>
    <button type="submit">Изменить</button>
</form>
</body>
</html>