<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/site.css}" rel="stylesheet" />
    <div th:insert="blocks/header" ></div>
</head>
<body>
<h1>Все типы проектов</h1>
<a th:href="'/projecttype/add'">Добавить тип проекта</a>
<div th:each="el : ${project}">
    <p><b>Тип проекта:</b></p>
    <p th:text="${el.typeProject}"></p>
    <br/>
    <a th:href="'/projecttype/' + ${el.id} + '/remove'" class="delete">Удаление</a>
</div>
</body>
</html>