<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link th:href="@{/css/site.css}" rel="stylesheet" />
  <div th:insert="blocks/header" ></div>
</head>
<body>
<div class=ex1><h1>Добавление статуса проекта</h1></div>

<form th:action="${'/projectstatus/add'}" method="post">
  <p>Статус прокта:</p>
  <input type="text" name="nameProjectStatus">
  <br>
  <button type="submit">Добавить</button>
</form>
</body>
</html>